$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*US Externals*/
@import "structures/reset";
@import "variables/colors";


/* US Header*/
.us-navbar {
  a {
    color: #000 !important;
  }
  img{
    width: 50px;
    height: 50px;
  }
  span{
    text-align: center;
  }
}

.us-menu {
  >li {
    >a {
      &:hover,
      focus {
        color: $USGreen !important;
      }
    }
  }
}

/* US Mix */
.us-navbar,
.footer {
  background: $USWhite;
}

/* US footer */
.footer {
  padding: 0.5em 0;
  background-color: $USGray;
  color: #fff;
  a{
    color: #fff;
  }
  p{
    text-align: center;
    margin-top: 0.5em;
    span{
      color: $USGreen;
    }
  }
}

.us-footer-list {
  padding: 0;
  margin-top: 0.5em;
  text-align: center;
  li {
    list-style: none;
    margin: 0.5em 0;
    &:first-child{
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* US Header */
  .us-navbar{
    padding: 0 10%;
  }

  /* US footer */
  .footer {
    position: relative;
    p{
      display: inline-block;
      margin-top: 3em; 
      position: absolute;
      right: 10em;
    }
  }
  .us-footer-list {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
  }
}
