$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*US Externals*/

// Reset 
@import "structures/reset";
// Variables
@import "variables/colors";
// Custom emplates
@import "structures/carousel";
@import "structures/space-box";
@import "structures/detail";

/* US Header*/

.us-navbar {
  a {
    color: #000 !important;
  }
  img {
    width: 50px;
    height: 50px;
  }
  span {
    text-align: center;
  }
}

.us-logo {
  span {
    &:hover {
      color: $us__green !important;
    }
  }
}

.us-menu {
  >li {
    >a {
      &:hover,
       :focus {
        color: $us__green !important;
      }
    }
  }
}

.us-navbar {
  margin-bottom: 0;
}


/* US Mix */

.us-navbar,
.footer {
  background: $us__white;
}


/* Pagination */

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  color: #fff;
  background-color: $us__green;
  border-color: $us__green;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: $us__black__font;
  background-color: $us__white;
  border-color: #ddd;
}

.alert-danger {
  border-radius: 0;
  background-color: #e44b23;
  color: white;
  .close {
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
}


/* US footer */

.footer {
  padding: 0.5em 0;
  background-color: $us__gray;
  color: #fff;
  a {
    color: #fff;
  }
  p {
    text-align: center;
    margin-top: 0.5em;
    span {
      color: $us__green;
    }
  }
}

.us-footer-list {
  padding: 0;
  margin-top: 0.5em;
  text-align: center;
  li {
    list-style: none;
    margin: 0.5em 0;
    &:first-child {
      font-size: 20px;
      font-weight: bold;
    }
  }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .tall{
    margin-bottom: 8em;
  }

  /* US Header */
  .us-navbar {
    padding: 0 10%;
  }
  /* US footer */
  .footer {
    position: relative;
    p {
      display: inline-block;
      margin-top: 3em;
      position: absolute;
      right: 10em;
    }
  }
  .us-footer-list {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
  }
}
