<div class="space-container clearfix" ng-class="{'visible-arrows' : visibleArrows}" ng-mouseenter="visibleArrows = true"
	ng-mouseleave="visibleArrows = false" ng-click="detail({ev: $event})">
	<div uib-carousel active="active" interval="interval" no-wrap="noWrapSlides" template-url="views/templates/us-carousel.html">
		<div uib-slide ng-repeat="slide in images track by $index" index="$index">
			<!--Hardcoded URL for testing purposes-->
			<!--<img src="http://placehold.it/300x200.png&text={{$index + 1}}">-->
			<img ng-src="https://res.cloudinary.com/virtuosisimo/image/upload/c_fill,h_200,w_300/{{slide}}" alt="{{slide}}">
		</div>
		<img ng-src="http://placehold.it/300x200.png&text=No Image" ng-if="images.length === 0">
	</div>
	<div class="space-description clearfix">
		<div class="info">
			<p class="title">{{title}}</p>
			<p class="detail">{{email ? email : "not available"}}</p>
			<p class="detail">{{phone ? phone : "not available"}}</p>
		</div>
		<div class="price">
			<span>{{price | currency}}</span>
			<small>Per Hour</small>
		</div>
	</div>
	<!--<p class="status" ng-show="available">Available</p>-->

</div>