<div class="footer">
        <ul class="us-footer-list">
            <li>Comunity</li>
            <li><a href="https://www.unlockspaces.com/#/s/about">About</a></li>
            <li><a href="https://www.unlockspaces.com/#/s/help">Help</a></li>
        </ul>

        <ul class="us-footer-list">
            <li>Learn</li>
            <li><a href="https://www.unlockspaces.com/#/s/howitworks">How it works</a></li>
            <li><a href="https://www.unlockspaces.com/#/s/public">List your space</a></li>
        </ul>
        <p><span class="fa fa-heart"></span> By Robinson Marquez</p>
</div>