<div class="container">


  <us-space-box images="slides" price="16" title="El timbre" email="info@email.com" phone="05243434334" available="true" >
  </us-space-box>

  <us-space-box images="slides" price="20" title="El timbre" email="info@email.com" phone="05243434334" available="false" >
  </us-space-box>

  <us-space-box images="slides" price="16" title="El timbre" email="info@email.com" phone="05243434334" available="true" >
  </us-space-box>

  <us-space-box images="slides" price="10" title="El timbre" email="info@email.com" phone="05243434334" available="false" >
  </us-space-box>
  
</div>